@media (max-width: 800px) {
  /* CUSTOM CONTAINER */
  .customContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
  /* NAV LOGO */
  #logoNav {
    width: 90%;
    padding: 2px, 0px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  /* HEADER PIC  */
  .headerPic {
    display: none;
  }
}
