@media (max-width: 800px) {
  /* CUSTOM CONTAINER */
  .customContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
  /* NAV LOGO */
  #logoNav {
    width: 90%;
    padding: 2px, 0px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  /* HEADER PIC  */
  .headerPic {
    display: none;
  }
  .separatorPic {
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: cover; /* This is the magic line! */
    animation: separateEntrance 2s ease forwards;
  }
}
@media (min-width: 800px) and (max-width: 1700px) {
  #AsideImg {
    width: 350px;
    height: 250px;
    margin-top: 50px;
    position: absolute;
    bottom: -150%;
    transform-origin: 20%;
    transform: rotateZ(270deg);
  }
}
