*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}
.customContainer {
  max-width: 1600px;
  margin: 0 auto;
}
/* white navbar  */
.ulwhiteNav {
  list-style: none;
  gap: 7px;
  height: 30px;
  padding: 0;
  margin: 0;
}
/* color last button */
ul.d-flex li:last-child {background-color: var(--second-color);}

/* black navbar */
.blackNav {
  background-color: black;
}
/* NBA logo */
.LogoNav img {
  width: 213.5px;
  height:80%;
  z-index: 1000;
}
/* letter image */
.LetterImg {
  height: 80px;
  width: 150px;
  
}