/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

/* CUSTOM CONTAINER */
.customContainer {
  max-width: 1600px;
  margin: 0 auto;
}
/* NAVBAR */

/* white navbar  */
.whiteNav {
  height: 40px;
  background-color: var(--white-color);
  font-size: 13px;
  font-weight: 400;
}
.dropdown-toggle::after {
  font-size: 17px;
  transform: translate(-2px, 2px);
  color: black;
}
/* color last button */
.navRedBtn {
  background-color: var(--second-color);
  border-radius: 0;
}
.cart {
  width: 60px;
  height: 40px;
  padding: 8px, 7px;
  background-color: #e61a4d;
}

/* black navbar */
.blackNav {
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

/* NBA logo */
.LogoNav img {
  max-width: 60%;
  height: auto;
}
/* navbar list */

/* HEADER */

/* navbar header */
.customHeader ul {
  background-color: var(--first-color);
  padding: 0;
}
.customHeader ul li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.customHeader ul li a {
  line-height: 2.1875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}
.customHeader ul li:hover {
  background-color: #335ba7;
  cursor: pointer;
}
.costumButton {
  padding: 7px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.costumButton:hover {
  background-color: #0c0c0c;
  cursor: pointer;
  transform: translate(0px, -1px);
  text-decoration: underline;
  text-underline-offset: 3px;
}
/* navbar header end */
/*header carousel start */

/* header carousel end */

.headerPic {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
